body {
  color: rgb(255, 255, 243);
}

.hero::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.card-body {
  position: relative;
  z-index: 2;
}

 /* Adjust card padding and margin at different screen sizes */
 @media screen and (max-width: 576px) {
  #cards .col {
    margin-bottom: 20px;
  }
  #cards .card {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  #cards .col {
    margin-bottom: 30px;
  }
  #cards .card {
    margin-bottom: 0;
    padding: 1rem;
  }
}
@media screen and (min-width: 769px) {
  #cards .col {
    margin-bottom: 30px;
  }
  #cards .card {
    margin-bottom: 0;
    padding: 1.5rem;
  }
}

/* Adjust title margin at different screen sizes */
@media screen and (max-width: 767px) {
  h2 {
  margin-top: 80px; /* increase top margin to create space */
  }
  }
  
  /* Fix card overlap on small screens */
  @media screen and (max-width: 991.98px) {
  #cards .col {
  margin-bottom: 30px; / add bottom margin to create space between cards */
  }
  }