body {
  color: rgb(255, 255, 243);
}

.hero::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.card-body {
  position: relative;
  z-index: 2;
}

.bg-ultra-dark {
  background-color: rgb(26, 25, 25);
}

 /* Adjust card padding and margin at different screen sizes */
 @media screen and (max-width: 991px) {
  #cards .col {
    margin-bottom: 290px;
  }
 }

