body {
  font-family: sans-serif;
}

#leiras {
	background-color: silver;
  background-repeat: repeat-x;
  padding: 35px;
}

h1, h2, h3 {
	text-shadow: 1px 1px white;
}

h3 {
  margin-top: 10px;
}

p {
  line-height: 200%;
}

.kepkeret {
  margin: 0 0 10px 15px;
  border-radius: 25px;
  overflow: auto;
  box-shadow: 10px 10px 10px gray;  
  background-color: rgb(239, 228, 228);
}

figcaption {
  color: darkgreen;
  text-align: right;
  font-style: italic;
}

a {
  text-decoration: double;
}

