body {
    background-color: rgb(90, 90, 90);
}



td{
    height: 40px;
    width: 40px;
    background-color: darkblue;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
}
.op{
    background-color: brown;
}
.calc{
    border: 1px solid black;
    background-color: antiquewhite;
    width: 220px;
    margin: auto;

}
.screen{
    background-color: rgb(255, 224, 184);
    height: 2rem;
    font-size: 1.5rem;
    margin: 0.5rem;
    text-align: right;
}
sup{
    font-size: 0.5rem;
}