body {
    background-color: aquamarine;
}

.nagy {
    width: 85%;
    height: 600px;
    background-image: url(money.jpg);   
    margin: 50px auto; 
    position: relative;
}

.nagy div  {
    position: absolute;
}

#penz4 {
    bottom: 0;
    right: 0;
}

#penz2 {
    right: 0;
    top: 0;
}

#penz3 {
    left: 0;
    bottom: 0;
}

#penz6 {
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
}

#penz5 {
    top: 0;
    right: 50%;
    transform: translateX(50%);
}

#penz5a {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

#penz6a {
    right: 0;
    bottom: 50%;
    transform: translateY(50%);
}

#szoveg {
    width: 300px;
    height: 80px;
    background-color: green;
    color: white;
    font-size: 180%;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    line-height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}